/* Stylesheets */
@import 'utilities/normalize';

html {
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.green {
  background-color: #7fd498;
}

.light-green {
  background-color: #cceed6;
}

.red {
  background-color: #ff99b1;
}

.light-grey {
  background-color: #F8F9F7;
}

td.command,
th.command {
  width: 150px;
  text-align: left;
  border-right: 2px solid lightgrey;
}

td {
  width: 40px;
  text-align: right;
  padding: 10px;
}

th {
  padding: 10px;
  text-align: right;
}

a {
  text-decoration: none;
  color: #006496;
}

.flag {
  background-image: url('/images/flags-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 12px;
  margin: 2px 0 0;
  padding-left: 2px;
}

.flag-it {
  background-position: -245px -75px;
}

@media all and (max-width: 959px) {
  .collapsible {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }
}
